.container1 {
    width: 80%;
    margin: auto;
    margin-bottom: 24px;


    background: linear-gradient(0deg, rgba(30, 30, 30, 0.30) 0%, rgba(42, 0, 91, 0.30) 50%, rgba(30, 30, 30, 0.30) 100%);

    height: 100vh;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

:root {
    --maincolor: #E377E8
}



.header-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 100%;
    padding: 20px;
    padding-top: 13%;

}

.welcome-text {
    width: 70%;
    border-radius: 5px;

    text-align: center;

    background: rgb(81, 57, 224);
    background: linear-gradient(90deg, rgba(81, 57, 224, 0.6) 0%, rgba(141, 80, 212, 0.6) 48%, rgba(227, 119, 232, 0.06) 100%);
    background: linear-gradient(90deg, rgba(81, 57, 224, 0.6) 0%, rgba(141, 80, 212, 0.6) 48%, rgba(227, 119, 232, 0.6) 100%);

    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.text-move span {
    color: #E377E8;
}

.text-move {
    font-size: 32px;
    font-weight: bold;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #3333;
    animation: typing 3s infinite alternate-reverse steps(25);
    -webkit-animation: typing 3s infinite alternate-reverse steps(25);
}

@keyframes typing {
    form {
        width: 0;
    }

    to {
        width: 500px;
    }
}

.header-img img {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {

        top: 0px;
    }

    50% {

        top: 20px;
    }

    100% {

        top: 0px;
    }
}


.welcome-text,
.name-text {
    margin: 10px 0px;
}

.text-body {
    margin-top: 80px;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    color: #bfbfbf;
}